.wrapper-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image-label {
  width: 100px;
  height: 100px;
  border: 2px dashed #397;
  border-radius: 6px;
  color: #397;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 0 0;
}

.image-label:hover {
  background-color: #bfd;
  cursor: pointer;
}

#image {
  width: 0;
  height: 0;
  visibility: hidden;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  margin-right: 2rem;
  object-fit: cover;
}

.input-name {
  border: none;
  font-size: 32px;
  font-weight: bold;
  padding: 1rem;
}
