.show-preview-button {
  background-color: var(--primary-button-color);
  border-color: var(--primary-button-border-color);
  color: var(--primary-button-border-color);
}

.show-preview-button:hover {
  background-color: var(--primary-button-color-hover);
  border-color: var(--primary-button-border-color-hover);
}

.info-text {
  margin-top: 1.2rem;
  text-align: center;
}

@media print {
  .show-preview-button {
    visibility: hidden;
  }
}
