.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.skills > li {
  height: 40px;
  background-color: var(--neutral-color-200);
  border: 1px solid var(--neutral-color-600);
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 0.4rem 1rem 0.4rem 0;
  padding: 0 2.5rem 0 1rem;
  position: relative;
  transition: all 0.1s;
}

.skills > li.input {
  border-color: transparent;
  padding: 0;
}

.skills > li.input > input {
  border: 1px solid var(--neutral-color-600);
  border-radius: 10px;
  height: 40px;
  padding: 0 1rem;
}

.skills > li.add {
  background-color: #e2f1ed;
  border: 1px solid #7b8a86;
  cursor: pointer;
  font-weight: bold;
  padding: 0 1rem;
}

.skills > li.add:hover {
  background-color: #d2e1dd;
  border-color: #5b6a66;
}
