.ats-optimization-button {
  background-color: var(--ai-button-color);
  border-color: var(--ai-button-border-color);
  color: var(--ai-button-border-color);
}

.ats-optimization-button:hover {
  background-color: var(--ai-button-color-hover);
  border-color: var(--ai-button-border-color-hover);
}
