.experience {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
  padding-bottom: 2rem;
  position: relative;
}

.experience:last-of-type {
  border-color: transparent;
}

.experience:hover {
  border-color: #aaa;
}

.experience > .position {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.experience > .duration {
  color: #555;
  margin-bottom: 0.8rem;
}
