.experience {
  border-right: 5px solid transparent;
  margin-top: 0.5rem;
  padding-bottom: 0.6rem;
  position: relative;
}

.experience:hover {
  border-color: #dfdad4;
}

.experience:hover .remove-item-button,
.experience:hover .edit-item-button {
  display: inline-block;
}

.experience > .position {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.experience > .duration {
  color: #555;
  margin-bottom: 0.8rem;
}
