* {
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 4rem 0;
  padding: 1rem;
}

#root {
  width: 1200px;
}

ul {
  list-style: none inside;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  width: 100%;
  display: block;
  margin: 0;
}

h1 {
  font-size: 32px;
  padding: 1rem 0;
}

h2 {
  font-size: 22px;
  padding: 0 0 1rem 0;
}

h3 {
  color: #487;
  font-size: 20px;
  padding: 0.5rem 0;
}

.editable {
  background-color: #fffaf4;
  border: 2px dashed #cfcac4;
  border-radius: 12px;
  margin-top: 2rem;
  padding: 1rem;
  position: relative;
  transition: all 0.1s;
}

.edit-button {
  background-color: #ebedf3;
  border: 2px solid #8c8e93;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.edit-button > svg {
  margin-right: 0.1rem;
}

.edit-button:hover {
  background-color: #e0e2e8;
  border-color: #707278;
}

.remove-button {
  color: #888;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 0;
}

.remove-button:hover {
  color: black;
}

.remove-tag-button {
  color: #888;
  cursor: pointer;
  margin-left: 1rem;
  position: absolute;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
}

.remove-tag-button:hover {
  color: black;
}

.experience,
.formation,
.certificates {
  transition: margin 0.1s;
}

body.preview {
  margin-top: 0;
  padding-top: 0;
}

body.preview .info-text {
  display: none;
}

body.preview h1 {
  margin-bottom: 3rem;
}

body.preview .editable {
  background-color: transparent;
  border: none;
  padding: 0;
}

body.preview .skills > li,
body.preview .languages > li {
  background-color: transparent;
  border: none;
  margin-right: 3rem;
  padding: 0;
}

body.preview .edit-button,
body.preview .remove-button,
body.preview .remove-tag-button,
body.preview .input,
body.preview .add {
  display: none;
}

body.preview .experience,
body.preview .formation,
body.preview .certificates {
  margin-top: 0;
}
