* {
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#root {
  width: 100%;
}

h1 {
  width: 100%;
  display: block;
  font-size: 32px;
  padding: 1rem;
  margin: 0;
}

.editable {
  position: relative;
}

.edit-button {
  background-color: #f0f2f8;
  border: 2px solid #c0c2c8;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.edit-button:hover {
  background-color: #e0e2e8;
  border: 2px solid #707278;
}
