:root {
  --primary-button-color: #e0edf5;
  --primary-button-color-hover: #d0dde8;
  --primary-button-border-color: #1b4a6b;
  --primary-button-border-color-hover: #0b3a5b;

  --pdf-button-color: #fff0f4;
  --pdf-button-color-hover: #efe0e4;
  --pdf-button-border-color: #ba3b5b;
  --pdf-button-border-color-hover: #aa2b4b;

  --download-button-color: #e3f6ec;
  --download-button-color-hover: #d0e1d9;
  --download-button-border-color: #1b6a2b;
  --download-button-border-color-hover: #0b5a1b;

  --ai-button-color: #ede0f5;
  --ai-button-color-hover: #ddd0e8;
  --ai-button-border-color: #6b3b9a;
  --ai-button-border-color-hover: #5b2b8a;

  --linkedin-button-color: #e0f5f2;
  --linkedin-button-color-hover: #d0e8e5;
  --linkedin-button-border-color: #1b6b62;
  --linkedin-button-border-color-hover: #0b5b52;

  --default-button-color: #ebedf3;
  --default-button-color-hover: #e0e2e8;
  --default-button-border-color: #8c8e93;
  --default-button-border-color-hover: #707278;

  --neutral-color-50: #f7f7f7;
  --neutral-color-100: #eeeeee;
  --neutral-color-200: #dcdcdc;
  --neutral-color-300: #cacaca;
  --neutral-color-400: #b8b8b8;
  --neutral-color-500: #a6a6a6;
  --neutral-color-600: #949494;
  --neutral-color-700: #828282;
  --neutral-color-800: #707070;
  --neutral-color-900: #5e5e5e;
}
