.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.languages > li {
  height: 40px;
  background-color: #f0f2f8;
  border: 2px solid #c0c2c8;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-top: 0.4rem 1rem 0.4rem 0;
  padding: 0 2.5rem 0 1rem;
  position: relative;
  transition: all 0.1s;
}

.languages > li.input {
  background-color: #c0c2c8;
  border-color: transparent;
  padding: 0;
}

.languages > li.input > input {
  border: none;
  border-radius: 6px;
  height: 36px;
  padding: 0 1rem;
}

.languages > li.add {
  background-color: #e2f1ed;
  border: 2px solid #7b8a86;
  cursor: pointer;
  font-weight: bold;
  padding: 0 1rem;
}

.languages > li.add:hover {
  background-color: #d2e1dd;
  border-color: #5b6a66;
}
