.settings {
  width: 220px;
  height: auto;
  background-color: #ccced3;
  border-radius: 6px 0 0 6px;
  cursor: default;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.2rem 0.5rem 0.2rem 0.8rem;
  position: fixed;
  right: 0;
  z-index: 10;
}

.settings.font-size {
  top: 100px;
}

.settings.spacing {
  top: 140px;
}

.settings button {
  width: 26px;
  height: 26px;
  background-color: #ebedf3;
  border: 2px solid #8c8e93;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-family: arial;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-left: 0.5rem;
}

.settings button:hover {
  background-color: #e0e2e8;
  border-color: #707278;
}

@media print {
  .settings {
    visibility: hidden;
  }
}
