.linkedin-import-button {
  background-color: var(--linkedin-button-color);
  border-color: var(--linkedin-button-border-color);
  color: var(--linkedin-button-border-color);
}

.linkedin-import-button > svg {
  flex-shrink: 0;
}

.linkedin-import-button:hover {
  background-color: var(--linkedin-button-color-hover);
  border-color: var(--linkedin-button-border-color-hover);
}
