.linkedin-import-button {
  background-color: var(--linkedin-button-color);
  border: 2px solid var(--linkedin-button-border-color);
  border-radius: 12px;
  color: var(--linkedin-button-border-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: bold;
  padding: 0.7rem 0.9rem;
  width: 100%;
  transition: padding 0.1s;
}

.linkedin-import-button > svg {
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.linkedin-import-button:hover {
  background-color: var(--linkedin-button-color-hover);
  border-color: var(--linkedin-button-border-color-hover);
}

@media print {
  .linkedin-import-button {
    display: none;
  }
}
